<input type="text" placeholder="username" [(ngModel)] = "username" />
<br><br>
<input type="password" placeholder="password" [(ngModel)] = "password" />
<br><br>
<input type="email" placeholder="email" [(ngModel)] = "email" />
<br><br>
<input type="number" max="100" min="0" placeholder="edad" [(ngModel)] = "edad" />
<br><br>
<input type="date" placeholder="date" [(ngModel)] = "dateCreated" />
<br><br>
<select matNativeControl [(ngModel)]="country" name="country">
  <option value="" selected></option>
  <option *ngFor="let country of countries" [value]="country">
      {{country}}
  </option>
</select>
<br><br>
<button type="button" (click) = "registerNewUser()" >Registrar</button>

<div class="table-header">
  <label>#</label>
  <label>Username</label>
  <label>Password</label>
  <label>Email</label>
  <label>Age</label>
  <label>isOlder</label>
  <label>Country</label>
  <label>Date Created</label>
</div>

<div class="table-row" *ngFor="let user of users; let i = index;">
  <label>{{i}}</label>
  <label>{{user.username}}</label>
  <label>{{user.password}}</label>
  <label>{{user.email}}</label>
  <label>{{user.edad}}</label>
  <label *ngIf="user.edad > 17 ">Usuario es mayor de edad</label>
  <label *ngIf="user.edad < 19 ">Usuario es menor de edad</label>
  <label>{{user.country}}</label>
  <label>{{user.dateCreated | date:'dd-MM-yyyy' }}</label>
</div>

<router-outlet></router-outlet>
