<input type="text" placeholder="Nombre" [(ngModel)]="book.name">
<br><br>
<input type="number" placeholder="Annio de Creacion" [(ngModel)]="book.year">
<br><br>
<input type="text" placeholder="Genero" [(ngModel)]="book.bookGenre">
<br><br>
<select [(ngModel)]="authorID" name="Authors">
  <option value="" selected></option>
  <option *ngFor="let author of authors" [ngValue]="author.id">
      {{author.name}}
  </option>
</select>
<br><br>
<button type="button" (click)="onSubmit()">Registrar Libro</button>
<br><br>
