<div class="container" *ngIf="authorName != ''">
  <h3>Libros del Author: {{authorName}}</h3>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Annio de Creacion</th>
        <th scope="col">Genero Literario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{book.name}}</td>
        <td>{{book.year}}</td>
        <td>{{book.bookGenre}}</td>
      </tr>

    </tbody>
  </table>

</div>
