<input type="text" placeholder="Nombre" [(ngModel)]="author.name">
<br><br>
<input type="text" placeholder="Apellidos" [(ngModel)]="author.lastName">
<br><br>
<input type="text" placeholder="ID" [(ngModel)]="author.id">
<br><br>
<input type="date" placeholder="ID" [(ngModel)]="author.birthdate">
<br><br>
<select [(ngModel)]="author.favoriteGenre" name="favoriteGenre">
  <option value="" selected>Seleccione el Genero Favorito</option>
  <option *ngFor="let genre of genres" [ngValue]="genre.name">
      {{genre.name}}
  </option>
</select>
<br><br>
<button type="button" (click)="onSubmit()">Registrar Autor</button>
<br><br>
