<h3>Datos de los Autores</h3>
<div class="table-header">
  <label for="">#</label>
  <label for="">Nombre</label>
  <label for="">Apellidos</label>
  <label for="">ID</label>
  <label for="">Fecha de Nacimiento</label>
  <label for="">Genero</label>
  <label for="">Acciones</label>
</div>

<div *ngFor="let author of authors; let i = index" class="table-row">
    <label for="">{{i+1}}</label>
    <label for="">{{author.name}}</label>
    <label for="">{{author.lastname}}</label>
    <label for="">{{author.id}}</label>
    <label for="">{{author.birthdate | date: 'yyyy/MM/dd'}}</label>
    <label for="">{{author.favoriteGenre}}</label>
    <button (click)="showBooks(i)">Ver Libros</button>

</div>

  <h3>Libros del Author: {{authorName}}</h3>
  <div class="table-header">
    <label for="">#</label>
    <label for="">Nombre</label>
    <label for="">Annio de Creacion</label>
    <label for="">Genero</label>
  </div>

  <div *ngFor="let book of books; let i = index" class="table-row">
      <label for="">{{i+1}}</label>
      <label for="">{{book.name}}</label>
      <label for="">{{book.year}}</label>
      <label for="">{{book.bookGenre}}</label>
  </div>
